.container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.battle-container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

mat-grid-tile {
    background: lightblue;
  } 

.battle-container
{
    margin: auto;
    width: auto;
    height: 90%;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td,tr {
    width: 50px;
    height: 50px;
  }

  .btn-start
  {
    display: flex;
    justify-content: center;
    margin-left: 150px;
  }

