<div class="container">
    <app-ship-list-selection (shipClick)="onShipSelected($event)"></app-ship-list-selection>
    <div class="battle-container">
    <mat-grid-list [cols]="game.battleField.columsCount + 1" rowHeight="1:1">
        <ng-container  *ngFor="let row of game.battleField.battlePoints; let i = index">
            <mat-grid-tile *ngFor="let point of row let c = index">
                <app-battle-point (pointClick)="onPointSelected($event)" [point]="point"></app-battle-point>
            </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
    </div>
</div>