<div>
<div class="battle-container">
    <div>
        <div>
            <app-ship-list-selection (shipClick)="onShipSelected($event)"></app-ship-list-selection>
            <app-bet-setting></app-bet-setting>
        </div>
    </div>
    <div class="battle-container">
        <table>
            <thead>
              <tr>
                <th></th>
                <th *ngFor="let row of game.battleField.battlePoints; let i = index">{{i}}</th>
              </tr>
            </thead>
            <tbody>
                <ng-container  *ngFor="let row of game.battleField.battlePoints; let i = index">                
                    <tr>
                        <th>{{rowsHeader[i]}}</th>
                        <td *ngFor="let point of row let c = index">
                            <app-battle-point (pointClick)="onPointSelected($event)" [point]="point"></app-battle-point>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
          </table>
    </div>    
</div>
<div class="btn-start">
    <button mat-raised-button color="primary">Comenzar Juego</button>    
</div>
</div>
